body {
    color: #ececec;
    background-color: #16191D;
    font-family: consolas;
}

a {
    color: #61AFEF;
}

img.hackclub-emoji {
    height: 1.25em;
    vertical-align: middle;
    width: auto;
}