name: Docker Image CI

on:
  push:
    branches: [ "master" ]
    paths:
      - 'server/**'
      - '.github/workflows/push-image.yml'
      - '!**/README.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PAT }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./server
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USER }}/jekyll-hackclub:${{ github.sha }}
          ${{ secrets.DOCKERHUB_USER }}/jekyll-hackclub:latest